body{
    background: #ddcaa4;
}

.menu{
    background: white;
    box-shadow: 1px 1px 2px #000000;
}

.menu h3 {
    font-size: 30px;
    padding-top: 10px;
    margin-bottom: 15px;
    text-align: center;
}

.menu ol {
    display: table;
    margin: 0 auto;
    padding-bottom: 10px;
}

.menu img {
    margin-top: 20px;
}

.menu a:hover{
    font-size: 30px;
    color: blue;
}

.menu a:visited{
    color: black;
}

.menu a:link{
    color: black;
    text-decoration: none;
}

.menu li{
    font-size: 25px;
}